.backgroundImg {
  background-image: url(/Back.webp);
  /* object-fit: cover; */
}


.editbutton{
  text-align: right;
}

.editbutton a{
  border: 1px solid rgb(85, 238, 43);
  color: rgb(85, 238, 43);
  padding: 10px;
  background-color: black;
  text-decoration: none;
  border-radius: 8px;
  letter-spacing: 1px;
}

.editbutton a:hover{
  opacity: 0.7;
}

.mypost {
  padding-top: 15px;
  padding-bottom: 45px;
  padding-right: 45px;
  padding-left: 45px;
  width: 65%;
  margin: auto;
  display: block;
  color: white;
  background-color: rgb(10, 10, 10);
  margin-top: 60px;
  border-radius: 10px;
  opacity: 0.95;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.topsection {
  text-align: center;
}



.mypost2 {
  margin: auto;
  display: block;
  /* background-image: url(/Deg.jpg); */
  object-fit: cover;

}


.comments {
  border-radius: 12px;
  width: 70.5%;
  display: block;
  margin: auto;
  padding: 45px;
  background-color: black;
  opacity: 0.75;
  /* border: 1px solid rgb(180, 180, 180); */
}


.item0000 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 25px;
  width: 50%;
  display: block;
  margin: auto;
}


.ImgContainer{
  position: relative;
  width: 70%;
  margin: auto;
  height: 0px;
  padding-bottom: 50%;
}







/* Related */
.grid {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  
}

.box {
  background-color: black;
  width: 350px;
  color: white;
  text-align: center;
  border-radius: 3px;
  opacity: 0.9;
}

/* .box:hover {
  cursor: pointer;
  opacity: 0.9;
  text-decoration: underline;
} */

/* Related */

.dateauth {
  color: rgb(85, 238, 43);
  /* color: #5fadf1; */
  font-size: 17px;
  font-family:  'Source Sans Pro', 'Arial';
}

.author {
  color: rgb(85, 238, 43);
  /* color: #5fadf1; */
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  font-family:  'Source Sans Pro', 'Arial';
}

.author:hover {
  text-decoration: underline;
}

.resizeimg {
  max-width: 70%;
  height: auto;
  margin: auto;
}


.Imagecontainer{
  /* width: 342px; */
  height: 200px;
  overflow: hidden;
}

.resizeimgrelated {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blogcat {
  background-color: black;
  color: white;
  padding: 8px;
  text-decoration: none;
  border: 1px solid grey;
  margin: 8px;
  display: inline-block;
}

.blogtag {
  display: inline-block;
  margin-left: 5px;
  background-color: black;
  color: white;
  padding: 8px;
  text-decoration: none;
  border: 1px solid grey;
  margin: 8px;
}

.blogtag:hover {
  opacity: 0.8;
}

.blogcat:hover {
  opacity: 0.8;
}

.related {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 8px;
  border-bottom: 1px solid white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}


.givetitlemar {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}




.givetitlemar:hover{
  text-decoration: underline;
}

.relatedtitle {
  text-decoration: none;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  border: 1px solid rgb(210, 203, 203);
}

.searchTerm {
  width: 100%;
  height: 36px;
  border: none;
  padding: 5px;
  outline: none;
}



.searchButton {
  width: 80px;
  height: 36px;
  background: black;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.searchButton:hover{
  opacity: 0.75;
}

.searchresult{
  color: rgb(85, 238, 43);
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
}

.searchresult:hover{
  text-decoration: underline;
}

.givemargin{
  margin-top: 15px;
}

.blogfoundmsg{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

@media screen and (max-width:1278px) {

  .search{
    margin-top: 15px;
  }
  }


@media screen and (max-width:1278px) {
  .grid{
    margin: 20px;
    grid-gap: 50px;   
  }
}

@media screen and (max-width:1190px) {
  .grid{
    grid-gap: 20px;   
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
  }

}

@media screen and (max-width:1278px) {
  .item0001 {
    display: block;
    margin: auto;
  }

  .mypost{
    opacity: 1;
  }
}

@media screen and (max-width:1278px) {
  .comments {
    margin-left: 0px;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width:750px){
  .grid{
    display: block;
  }

  .box{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 100%;
  }

  .mypost{
    width: 95%;
    padding: 25px;
    margin-top: 0px;
    opacity: 1;
  }

  .resizeimg {
    width: 100%;
  }

  .ImgContainer{
    width: 100%;
    margin-bottom: 20px
  }
}


.page404{
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}