.container{
    margin: 10px;
}



.message{
  font-size: 20px;
  color: var(--message-color);
}

.blog{
    margin: 20px 0px 30px 30px;
    padding: 15px 0px 15px 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 1px solid white;
    background-color: var(--box-backcolor);
    color: var(--text-color);
    
}


.heading{
  font-weight: 800;
  font-family:  'Source Sans Pro', 'Arial';
  font-size: 20px;
}

.deletebtn, .updatebtn{
    color: white;
    background-color: black;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
    text-decoration: none;
    border: 1px solid white;
}


.deletebtn00{
  color: white;
  background-color: black;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid white;
  letter-spacing: 1.2px;
  font-weight: 700;
  font-size: 12px;
}

.deletebtn00:hover{
  opacity: 0.7;
}

.deletebtn:hover, .updatebtn:hover{
    opacity: 0.8;
}

.date{
    color: rgb(79, 79, 238);
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.headingDash{
  text-align: center;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  word-spacing: 8px;
  letter-spacing: 0.7px;
  color: var(--text-color);
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  
  .pagination button {
    background-color: black;
    border: 1px solid #bbb4b4;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15.5px;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .pagination button:hover {
    background-color: #020d14;
  border-color: #3498db;
  }
  
  .pagination button:disabled {
    color: white;
    background-color:rgb(87, 87, 87);
    color: #ffffff;
    cursor: not-allowed;
  }
  
  /* Current Active Page */
 .pagination button.current{
background-color: #3498db;
color: white;
 }
  
  .dots{
    color: var(--text-color);
  }


@media screen and (max-width:700px){
 
    .blog{
        margin: 0px;
        
    }

    .pagination {
      margin: 10px 10px 25px 20px;
      flex-wrap: wrap;
    }

    .pagination button {
      margin: 4px;
      }

  }