.row {
    display: flex;
  }
  
  .column {
    margin-right: 50px;
    flex: 30%;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--box-backcolor);
    color: var(--text-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
  }
  
  .column2 {
    flex: 70%;
    padding: 10px;
    margin-right: 30px;
    padding-left: 40px;
    color: var(--text-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    color: var(--text-color);
  }



.container {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--box-backcolor);
    border: 1px solid var(--border-color);
}


.alignImg {
    height: auto;
    width: 250px;
    display: block;
    margin: auto;
    border: 1px solid white;
}

.containerspace{
    margin-left: 15px;
}

.centerbtn{
    text-align:center;
}

.uploadbtn{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 0.4px;
    border: 1px solid var(--text-color);
    margin-top: 15px;
}

.uploadbtn:hover{
    cursor: pointer;
    opacity: 0.75;
}

.givespace{
    margin-bottom: 30px;
}

.inputs{
    width: 70%;
    outline: none;
    border: none;
    background: rgb(222, 233, 233);
    padding: 8px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: black;
  }

  .text{
    font-weight: 900;
  }

  .info{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  .addpad{
    padding: 8px;
  }


  @media screen and (max-width:867px){
  .row{
    display: block;
  }

  .column {
    margin: 0px;
  }

  .container{
    width: 95%;
  }
  .column2{
    margin-right: 0px;
    padding-left: 0px;
  }
  }
